body{
    background-color: rgb(0, 0, 0);
    text-align: center;
    border-style: solid;
    border-color: bisque;
}

.img{
    max-width: 70%;
    max-height: 70%;
    opacity: 0.5;
    border-style: double;
    border-color: bisque;
    padding: 70px;
}
.Descripcion{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 50%;
    border: 3px solid;
    border-color: rgb(61, 46, 27);
    padding: 10px;
    border-radius: 70px;
    text-align: justify center;
    color: bisque;
}
.Imagenes{
    display: flexbox;
    align-items: center;
}
h1{
    font-size: 8vw;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(153, 139, 14);
}
h2{
    font-family: 'Lucida Handwriting';
    color: bisque;
    font-size: 3vw;
}
.Video{
    display: flex;
    background-color: rgb(61, 46, 27);
    border-style: double;
    border-color: rgb(116, 113, 109);
    border-style:outset;
    border-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}  
.videoo{
    display: flex;
    max-width: 50%;
}

videoo
  img:hover {
    opacity: 1.0;
  }
p{
    padding: 30px;
}
.Decora1{
   
    height: 25vh;
}
.Decora2{
    
    height: 25vh;
}
.beatless{

    max-width: 90%;
}

@media screen and (max-whidth: 740px) {

    h1{
        font-size: 20px;
    }
    
}